[Desktop Entry]
Name=windows buttons
Comment=move windows buttons on the panel

Icon=window-close
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=tubbadu
X-KDE-PluginInfo-Email=tubbadu@gmail.com
X-KDE-PluginInfo-Name=com.github.windowsButtons
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL
X-Plasma-NotificationArea=true

